<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserRegistration</title>
    <h2 style="text-align:center">Registration</h2>
    <style>
        .center-form{
        justify-content: center;
        display: flex;
        margin: 40px 50px;
        border:3px solid blue;
        padding:30px;
        background-color:Pink;
        }
    </style>
</head>
<body style="background-color:Violet;">
<div class="center-form">
<form  action="register" method="post">
    {% csrf_token%}
    <input type="text"  name="username" placeholder="Enter Your Username"><br>
    <input type="text"  name="first_name" placeholder="Enter Your first name"><br>
    <input type="text"  name="last_name" placeholder="Enter Your lastname"><br>
    <input type="email"  name="email" placeholder="Enter Your email"><br>
    <input type="text"  name="password" placeholder="Enter Your password"><br>
    <input type="text"  name="cpassword" placeholder="Confirm Your password"><br>
    <input type="submit">
</form>

{% for msg in messages %}
<p style="color:Red,text-align:center;">{{msg}}</p>
{% endfor%}
 </div>
</body>
</html>